MonoDevelop.MacHint/bin/Debug/Growl
MonoDevelop.MacHint/bin/Debug/MonoDevelop.MacHint.dll
MonoDevelop.MacHint/bin/Debug/MonoDevelop.MacHint.xml
MonoDevelop.MacHint/bin/Debug/MonoDevelop.MacHint.dll.mdb